<h1>New Toy</h1>
<%= form_with(model: @toy, local: true) do |form| %>
    <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    </p>

    <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    </p>

    <p>
    <%= form.label :date_posted %><br>
    <%= form.date_field :date_posted %>
    </p>

    <p>
    <%= form.label :user %><br>
    <%= form.text_field :user %>
    </p>

    <p>
    <%= form.submit "Update" %>
    </p>
<% end %>